.button {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1rem 2.4rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: var(--color-violet-500);
  color: #fff;
}

.primary:hover {
  background-color: var(--color-violet-700);
}

.secondary {
  background-color: var(--color-grey-300);
  color: var(--color-grey-800);
}

.delete,
.edit {
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1.6rem;
}

.delete {
  background-color: var(--color-red-secondary);
}

.delete:hover {
  background-color: var(--color-red);
}

.edit {
  background-color: var(--color-blue-600);
}

.edit:hover {
  background-color: var(--color-blue-900);
}

.reply {
  display: flex;
  justify-content: center;
  min-width: 10rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--color-violet-500);
  color: #fff;
  padding: 0.6rem 1.5rem;
}

.reply:hover {
  background-color: var(--color-violet-900);
}
