.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-darkus);
  color: #fff;
  padding: 1.7rem 1.4rem;
  border-radius: var(--border-radius-1);
  box-shadow: var(--shadow-lg);
}

.header > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.icon {
  height: 5rem;
  margin-left: 2rem;
}

.sort {
  margin-left: 2rem;
  font-weight: 400;
}

.sort span {
  font-size: 1.5rem;
  color: #d1d5db;
  font-weight: 500;
}

/* RESPONSIVE DESIGN */

/*670px = 41.875em */

@media only screen and (max-width: 41.875em) {
  .header h3,
  .icon {
    display: none;
  }
}
