.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;

  border-top: 1px solid var(--color-grey-500);
  padding-top: 4rem;
}

.container button {
  line-height: 0;
  cursor: pointer;
}

.pagesContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.pagesContainer button {
  height: 4rem;
  width: 4rem;
  border-radius: 3rem;
  border: 1px solid var(--color-blue-200);

  background-color: var(--color-blue-100);
  color: #333;
  font-weight: 500;
}

.pagesContainer button:hover {
  background-color: var(--color-blue-200);
}

.previousButton,
.nextButton {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50rem;
  border: none;
  background-color: var(--color-violet-600);
  color: #fff;
}

.previousButton:hover,
.nextButton:hover {
  background-color: var(--color-violet-900);
}

.icon {
  font-size: 1.7rem;
  transition: all 0.4s;
}

.previousButton:hover .icon {
  transform: translateX(-0.2rem);
}

.nextButton:hover .icon {
  transform: translateX(0.2rem);
}

.pagesContainer .active {
  background-color: var(--color-violet-500);
  color: #fff;
  border: 2px solid var(--color-violet-500);
}

.pagesContainer .active:hover {
  background-color: var(--color-violet-500);
}
