.container {
  background-color: var(--color-grey-900);
  border-radius: 1.15rem;
  padding: 2.5rem 3rem;
  box-shadow: var(--shadow-md);
  cursor: pointer;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--color-grey-200);
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.text {
  color: var(--color-grey-400);
  font-weight: 300;
  margin-bottom: 3rem;
}

.feedbackComments {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 500;
  color: var(--color-grey-500);
  transition: all 0.2s;
}

.commentIcon {
  font-size: 2.2rem;
}

.container:hover .heading,
.container:hover .feedbackComments {
  color: var(--color-violet-400);
}
