.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-darkus);
  color: #fff;
  padding: 2rem 4rem;
  border-radius: var(--border-radius-1);
  box-shadow: var(--shadow-lg);
  margin-top: 2.5rem;
}

.header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header img {
  height: 6rem;
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* RESPONSIVE DESIGN */

/* 530px = 33.125em */
@media only screen and (max-width: 33.125em) {
  .header h1 {
    font-size: 1.9rem;
  }

  .header img {
    height: 4rem;
  }
}

/* 400px = 25em */

@media only screen and (max-width: 25em) {
  .header h1 {
    display: none;
  }

  .header img {
    height: 5rem;
  }
}
