.container > div {
  min-height: 8rem;
  border-radius: var(--border-radius-1);
  padding: 2.5rem;
  box-shadow: var(--shadow-md);
}

.container > div:not(:last-child) {
  margin-bottom: 2rem;
}

.container .header {
  padding-top: 6rem;
  box-shadow: var(--shadow-lg);
}

.header {
  min-width: 25rem;
  flex: 1;
  background: var(--radial-gradient);
  color: #fff;
  position: relative;
}

.iconsContainer {
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;

  display: flex;
  gap: 0.9rem;
}

.settingItem,
.exitIcon,
.roadmapIcon {
  line-height: 0;
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  color: #e5e7eb;
  cursor: pointer;
  opacity: 0.8;
}

.settingItem:hover,
.exitIcon:hover,
.roadmapIcon:hover {
  color: var(--color-blue-300);
  opacity: 1;
  transform: translateY(-0.15rem);
}

.roadmapIcon {
  display: none;
}

.header p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin-top: 0.3rem;
}

.roadmap,
.filters,
.signoutContainer {
  background-color: var(--color-grey-900);
}

.filters {
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1.5rem;
  column-gap: 1rem;
}

.roadmap {
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roadmapHeader,
.roadmapList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmapHeader p {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.viewButton {
  font-size: 1rem;
  margin-right: -0.4rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-blue-100);
  background-color: var(--color-blue-100);
  opacity: 0.7;
  color: var(--color-blue-900);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.viewButton:hover {
  background-color: var(--color-blue-100);
  color: var(--color-blue-900);
  opacity: 1;
}

.roadmapList li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.roadmapList li div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.roadmapList li span {
  line-height: 0;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 1rem;
}

.roadmapList p {
  font-weight: 300;
  letter-spacing: 0.15rem;
}

.planned {
  background-color: var(--color-orange);
}

.progress {
  background-color: var(--color-purple);
}

.released {
  background-color: var(--color-cyan);
}

/* RESPONSIVE DESIGN */

/* 970px  = 60.625eem*/
@media only screen and (max-width: 60.625em) {
  .container {
    display: flex;
    gap: 2rem;
    margin: 4rem 0 2rem 0;
  }

  .container .header {
    padding-top: 8.5rem;
  }
}

/* 795px  = 49.7eem*/
@media only screen and (max-width: 49.7em) {
  .roadmap {
    display: none;
  }

  .iconsContainer {
    gap: 1.2rem;
  }

  .settingItem,
  .exitIcon,
  .roadmapIcon {
    display: block;
    font-size: 2.7rem;
  }
}

/* 530px = 33.125em */

@media only screen and (max-width: 33.125em) {
  .container {
    display: grid;
    gap: 0;
  }

  .container .filters {
    max-width: 100%;
  }
}
