.section {
  width: 80%;
  margin: 0 auto;
  padding: 9rem 0;
}

.heading {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  padding: 10rem 0 4rem 0;
}

.heading h1 {
  font-size: 4rem;
  color: var(--color-grey-200);
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  line-height: 1.7;
}

.heading h1 span {
  color: var(--color-violet-500);
}

.heading p {
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
  color: var(--color-grey-400);
  line-height: 2;
  margin-bottom: 4rem;
}

.searchCompany {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchCompany input {
  min-width: 50%;
  height: 4.05rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--color-grey-300);
  border: 1.5px solid var(--color-grey-400);
  font-size: 1.4rem;
  padding: 0 3.7rem;
  position: relative;
}

.searchCompany input::placeholder {
  color: var(--color-grey-400);
  letter-spacing: 0.05rem;
}

.searchCompany span {
  line-height: 0;
  font-size: 1.9rem;
  position: absolute;
  margin-left: 1.2rem;
  color: var(--color-grey-400);
}

.image {
  width: 55rem;
}

.stepsContainer {
  background-color: var(--color-blue-secondary);
  padding: 6rem 4rem 10rem 4rem;
  border-radius: 1.5rem 5rem 1.5rem 5rem;
  box-shadow: var(--shadow-lg);
  margin-top: 14rem;
  border: 5px solid var(--color-violet-700);
}

.stepsContainer > div {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.stepsContainer h1 {
  color: var(--color-grey-900);
  margin-bottom: 4rem;
  text-align: center;
  font-size: 5rem;
}

.stepsContainer span {
  color: var(--color-violet-700);
}

.howWorks {
  text-align: center;
  margin-top: 14rem;
}

.howWorks h1 {
  font-size: 4rem;
  color: var(--color-grey-200);
  margin-bottom: 6rem;
  letter-spacing: 0.3rem;
  line-height: 1.7;
}

.howWorksIList {
  display: flex;
  gap: 5rem;
}

.howWorksItem {
  min-height: 30rem;
  width: 50rem;
  background-color: var(--color-blue-secondary);
  border-radius: 2rem;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  line-height: 1.7;
  border: 5px solid var(--color-violet-700);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  color: var(--color-grey-600);
  box-shadow: var(--shadow-lg);
}

.howWorksItem span {
  font-size: 3.8rem;
  color: var(--color-violet-500);
}

.howWorksItem a:link,
.howWorksItem a:visited {
  color: var(--color-violet-500);
  transition: all 0.3s;
}

.howWorksItem a:hover,
.howWorksItem a:active {
  color: var(--color-violet-800);
}

/* RESPONSIVE DESIGN */

/* 1150px = 71.875em */
@media only screen and (max-width: 71.875em) {
  .section {
    padding: 12rem 0;
  }

  .image {
    display: none;
  }

  .heading {
    width: 80%;
    margin: 0;
  }
}

/* 970px  = 60.625eem*/
@media only screen and (max-width: 60.625em) {
  .searchCompany input {
    min-width: 70%;
  }

  .stepsContainer {
    border-radius: 1.5rem;
  }

  .stepsContainer > div {
    flex-direction: column;
    align-items: center;
  }

  .stepsContainer > div > div {
    width: 80%;
  }

  .stepsContainer > div > div:hover {
    transform: none;
  }

  .howWorksIList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .howWorksItem {
    width: 80%;
  }
}

/* 670px  = 60.625eem*/
@media only screen and (max-width: 41.875em) {
  .heading {
    margin: 0 auto;
  }
}

/* 530px  = 33.125em*/
@media only screen and (max-width: 33.125em) {
  .heading {
    margin: 0 2rem;
  }

  .heading h1 {
    font-size: 3.4rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .stepsContainer {
    padding: 4rem 1.5rem 8rem 1.5rem;
    margin-top: 8rem;
  }

  .stepsContainer h1,
  .howWorks h1 {
    font-size: 3.4rem;
  }
}
